<html>
   <head>
      <title>DNS Oracle</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link rel="shortcut icon" type="image/png" href="{{ redirecturl }}/favicon16.png"/>
      <link rel="shortcut icon" type="image/png" href="{{ redirecturl }}/favicon32.png"/>
      <script type="text/javascript">
      $(document).ready(function(){
          $('[data-toggle="popover"]').popover({
              html : true
          });
      });
      </script>
   </head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DNS Privacy</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/primer">Primer</a></li>
        <li class="active"><a href="/oracle">Oracle<span class="sr-only">(current)</span></a></li>
        <li><a href="/glossary">Glossary</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
               <div class="page-header">
                 <h1>DNS Oracle <small><img src="{{ redirecturl }}/static/1by1.png"></small></h1>
               </div>

               {% if whois_name == None %}
               <div class="jumbotron">
                 <h2>Your resolver appears to be <b>{{ clientresolver }}</b></h2>
                 <p>Operator: {{ resolver.operator|default_if_none:"" }} <img src="{{ resolver.country.flag }}"></small></p>
                 <p>Resolver name: {{ resolver.resolver_name|default_if_none:"" }}</p>
                 <p>Other IPs: {{ resolver.ips|default_if_none:"" }}</p>
               </div>
               {% else %}               
               <div class="jumbotron">
                 <h2>Your resolver appears to be <strong>{{ clientresolver }}</strong> ({{ whois_name }})</h2>
               </div>
               {% endif %}

               <div class="alert alert-info" role="alert"><p>Your resolver doesn't respond to queries originating outside its network, so some of the information below may be outdated. <a href= "/oracle/poll" class="alert-link">Click here to take a 1-minute survey to help this tool stay up-to-date.</a></p></div>

               <table class="table">
                  <thead>
                     <tr>
                        <th>
                           Category
                        </th>
                        <th>
                           Attribute
                        </th>
                        <th>
                           Status
                        </th>
                        <th>
                           Notes
                        </th>
                     </tr>
                  </thead>
                  <tbody>

                     <tr> 
                        <th rowspan="3" class="active">Integrity</th>
                        <td {% if dnssec_supported %} class="success" 
                            {% else %} class="danger" 
                            {% endif %}>
                           <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="DNSSEC validates DNS responses and ensures that they aren't tampered with. Forged DNS responses are both a privacy and security risk as they may take you to websites that steal your information. For more information click <a href='https://en.wikipedia.org/wiki/Domain_Name_System_Security_Extensions' title=''>here.</a>" data-original-title="DNSSEC">DNSSEC</a>
                        </td>
                        <td {% if dnssec_supported %} class="success" 
                            {% else %} class="danger" 
                            {% endif %}>
                           {% if dnssec_supported %} Supported {% else %} Not supported {% endif %}
                        </td>
                        <td {% if dnssec_supported %} class="success" {% else %}  class="danger" {% endif %}>
                           <em>{{ resolver.dnssec_details }}</em>
                        </td>
                     </tr>

                     <tr> 
                        <td {% if censor1 or censor2 or censor3 %} class="danger" {% else %}  class="success" {% endif %}>
                           <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="DNS servers are sometimes used to implement Internet censorship laws imposed by governments or courts. When a website is censored using the DNS, the DNS response for its domain will redirect you to another destination." data-original-title="Censorship">Censorship</a>
                        </td>
                        <td {% if censor1 or censor2 or censor3 %} class="danger" {% else %}  class="success" {% endif %}>
                           {% if censor1 or censor2 or censor3 %} Censors results {% else %} Does not censor results {% endif %}
                        </td>
                        <td {% if censor1 or censor2 or censor3 %} class="danger" {% else %}  class="success" {% endif %}>
                          <u>Survey results:</u> <br>
                          <b>Test 1 (Social media):</b> {% if not censor1 %} Passed (not censored) {% else %} Failed (censored){% endif %} <br>
                          <b>Test 2 (Copyright infringement):</b> {% if not censor2 %} Passed (not censored) {% else %} Failed (censored){% endif %} <br>
                          <b>Test 3 (Adult sites):</b> {% if not censor3 %} Passed (not censored) {% else %} Failed (censored){% endif %} <br>
                          <em>{{ resolver.censorship_details }}</em>
                        </td>
                     </tr>

                     <tr> 
                        <td {% if nxdomain %} class="danger" {% else %}  class="success" {% endif %}>
                           <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Advertising" data-content="Some resolvers may subsidise their costs of operation by redirecting you to advertising if a domain cannot be found using the DNS (known as an NXDOMAIN error). This can be dangerous as applications expecting an NXDOMAIN response will connect instead to the website serving the advertising.">Advertising</a>
                        </td>
                        <td {% if nxdomain %} class="danger" {% else %}  class="success" {% endif %}>
                           {% if nxdomain %} Redirects to ads {% else %} Does not redirect to ads {% endif %}
                        </td>
                        <td {% if nxdomain %} class="danger" {% else %}  class="success" {% endif %}>
                           <em>{{ resolver.ads_details }}</em>
                        </td>
                     </tr>

                     <tr> 
                        <th rowspan="3" class="active">Confidentiality</th>
                        <td {% if resolver.tos %} class="warning" {% else %}  class="success" {% endif %}>
                           <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Terms of Service gotchas" data-content="Some resolvers will have Terms of Service or privacy policies that you must abide by when using their services. These terms may describe how your data is logged and used.">Terms of Service gotchas</a>
                        </td>
                        <td {% if resolver.tos %} class="warning" {% else %}  class="success" {% endif %}>
                           {% if resolver.tos %} Concerning {% else %} OK {% endif %}
                        </td>
                        <td {% if resolver.tos %} class="warning" {% else %}  class="success" {% endif %}>
                           <em>{{ resolver.tos_details }}</em>
                        </td>
                     </tr>

                     <tr> 
                        <td {% if qnamemin %} class="success" {% else %}  class="danger" {% endif %}>
                           <a href="http://dnsprivacy.info/glossary/#qname">QNAME Minimisation</a>
                        </td>
                        <td {% if qnamemin %} class="success" {% else %}  class="danger" {% endif %}>
                           {% if qnamemin %} Supported {% else %} Not supported {% endif %}
                        </td>
                        <td {% if qnamemin %} class="success" {% else %}  class="danger" {% endif %}>
                           <em>{{ resolver.qnamemin_details }}</em>
                        </td>
                     </tr>

                     <tr> 
                        <td {% if resolver.tls %} class="success" {% else %}  class="danger" {% endif %}>
                           <a href="http://dnsprivacy.info/glossary/#dnsdtls">DNS-over-(D)TLS</a>
                        </td>
                        <td {% if resolver.tls %} class="success" {% else %}  class="danger" {% endif %}>
                           {% if resolver.tls %} Supported {% else %} Not supported {% endif %}
                        </td>
                        <td {% if resolver.tls %} class="success" {% else %}  class="danger" {% endif %}>
                           <em>{{ resolver.tls_details }}</em>
                        </td>
                     </tr>

                  </tbody>
               </table>

               <p>Click on each attribute to learn more about it.</p>
               {% if responses_count > 0 %}
               <p><em>The information above is based on {{ responses_count }} survey responses.</em></p>
               {% endif %}

            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Privacy disclaimer</h3>
              </div>
              <div class="panel-body">
                <p>
                  All DNS queries for this domain and its subdomains are logged solely for the purpose of identifying which resolver you use. These logs are purged every hour and are not shared with any third parties.
                </p>
              </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">How does it work?</h3>
              </div>
              <div class="panel-body">
                <p>On the previous page, there was a small 1x1 pixel image that appeared to your web browser to be hosted at the subdomain {{ redirecturl }}. You'll notice that your IP address and source port appears in the subdomain address - this allows the Oracle to identify your resolver's DNS query from the log, and thereby discover the IP of your resolver.</p>
                <p>The Oracle will then send your resolver a DNS query to discover whether or not it's a public resolver (i.e. answers queries from computers outside its own network). Public resolvers can be automatically tested for certain features by the Oracle, while private resolvers cannot.</p>
                <p>Information regarding private resolvers are sourced from surveys completed by users who opt to participate. If there are no survey responses for a particular resolver, the Oracle will show independent research from the author of the website based on available information, if present.</p>
                <p>The automatic testing of public resolvers was carefully designed to be repeatable and easily comparable. </p>
              </div>
            </div>
         </div>
         <div class="col-md-2">
         </div>

      </div>
   </body>
</html>